*{
    font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   color: #575757;
}
h1{
    font-weight: 600;
}


/* ----------------------  cover-top ----------------------------- */
.cover-top{
    display: flex;

}
.text-cover-top{
    width: 50%;
}

.image-cover-top{
    width: 50%;
   
}
.image-cover-top img{
    margin: 50px;
}
.text{
    margin-top: 150px;
    margin-left: 150px;
    padding-right: 100px;

}
.text h1{
    font-weight: 600;
    font-size: 50px;
}
.text h2{
    font-weight: 400;
    font-size: 40px;
}
.text hr{
    border: 2px solid rgb(253,94,53);
    background-color: rgb(253,94,53);
    width: 200px;
    margin-bottom: 20px;
}
.text-chef{
    font-size: 50px;
}
.orange{
    color: rgb(253,94,53);
}
.hire-me-button{
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-image: linear-gradient(rgba(255, 30, 30, 1), rgba(251, 162, 79, 1));
}

.menu{
    padding-top: 20px;
    margin-left: 50px;
}
.menu  a{
    text-decoration: none;
    color: rgb(253,94,53);
}
.menu  li{
    margin-top: 100px;
    text-decoration: none;
    color: rgb(253,94,53);
    font-size: 20px;
    padding-right: 15px;
    display: inline;
}

/* ----------------------  cover-top end----------------------------- */






.projects-1 p{
    text-align: justify;
}
.Text-about-me h1{
    font-size: 50px;

}

/* ----------------------  about-me ----------------------------- */
.about-me{
    display: none;
    text-align: justify;
    display: flex;
    background-image: url(../images/2nd-coverimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
   

}
.Text-about-me{

    margin-top: 200px;
    width: 40%;
    padding: 0 auto;
    align-items: center;
    
}
.Text-about-me h1 {
    font-weight: 400;
    font-size: 50px;
}
.Text-about-me h1{
    font-weight: 400;
    font-size: 40px;
}
.imgae-about-me{
    width: 50%;
  
    
}
.imgae-about-me img{
    height: 700px;
    margin-left: 50px;
}

.about-me hr{
    border: 2px solid rgb(253,94,53);
    background-color: rgb(253,94,53);
    width: 200px;
    margin-bottom: 50px;
   
}
.about-button{
    margin-top: 50px;
}
/* ----------------------  about-me end ----------------------------- */
/* ----------------------  Card-grid ----------------------------- */
.card-heading{
    text-align: center;
    margin: 100px 300px;
}

.food-carts{
    display: flex;
    text-align: center;
    margin: 100px 120px;
}

.food-cart-1{
    box-shadow: 5px 10px 25px #888888;
    padding: 20px 20px 50px;
    margin: 20px;
    border-radius: 20px;
}
.card-heading h1{
    font-weight: 600;
    font-size: 40px;
    color: rgb(253,94,53);
}
.food-cart-1 P{
    text-align: justify;
}
.food-cart-1 img{
    border-radius: 10px;
}
.food-cart-1 h3{
    margin: 50px 0 20px;
    color: rgb(253,94,53);

}
/* ----------------------  Card-grid end----------------------------- */


/* ----------------------  .social-media-count----------------------------- */


.social-media-count{
    display: flex;
    box-shadow: 5px 10px 25px #888888;
margin: 100px 120px;
    border-radius: 20px;
    justify-content: space-around;
    padding: 50px;
    
}

.count h1{
    font-weight: 800;
    font-size: 40px;
    color: rgba(24, 25, 31, 1);
}
.count p{
    color: rgba(24, 25, 31, 1);
}
/* ----------------------  social-media-count end----------------------------- */
/* ----------------------  footer----------------------------- */
.footer{
   padding: 80px ;


background-color: black;
    text-align: center;
    align-items: center;

}
/* ----------------------  footer----------------------------- */










